html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*,
*::after,
*::before {
	box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:root {
	/* ## Colors */

	/* ### Primary */
	--Desaturated-Red: hsl(0, 36%, 70%);
	--Soft-Red: hsl(0, 93%, 68%);

	/* ### Neutral */
	--Dark-Grayish-Red: hsl(0, 6%, 24%);
	/* ### Gradients */
}
body {
	font-size: 16px;
	font-family: Josefin Sans, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.logo {
	margin: 3em;
	width: 30%;
}
.content {
	display: flex;
	flex-direction: column;
	width: 375px;
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
}
.main-content {
	background-image: linear-gradient(
		135deg,
		hsl(0, 0%, 100%),
		hsl(0, 100%, 98%)
	);
	width: 100%;
	max-width: 100%;
	padding: 5em 2em;
}
/* ******************************* 
         Topography 
 ******************************* */
.main-heading {
	font-size: 2rem;
	color: var(--Desaturated-Red);
	text-transform: uppercase;
	font-weight: 200;
	opacity: 0.8;
	letter-spacing: 10px;
}
.Hero {
	background-image: url(./images/hero-mobile.jpg);
	width: 100%;
	height: 250px;
}
span {
	line-height: 1.1;
	font-size: 2rem;
	display: block;
	text-transform: uppercase;
	font-weight: 600;
	opacity: 0.8;
	letter-spacing: 15px;
}
.para {
	color: var(--Desaturated-Red);
	line-height: 1.7;
	font-size: 0.9rem;
	font-weight: 200;
	margin-top: 1.5em;
	opacity: 0.8;
	margin-bottom: 2.5em;
}
form {
	width: 90%;
	margin: 0 auto;
	opacity: 0.6;
	position: relative;
}
input {
	padding: 1em;
	border-radius: 1.5rem;
	border: 0.1rem solid var(--Desaturated-Red);
	width: 100%;
	margin-bottom: -0.8em;
}
button {
	background: transparent;
	padding: 0;
	border: none;
}
button .submit {
	padding: 0.9em 1.7em;
	background-image: linear-gradient(
		135deg,
		hsl(0, 80%, 86%),
		hsl(0, 74%, 74%)
	);
	border-radius: 1.5em;
	position: absolute;
	bottom: 5px;
	right: 1px;

}
.error {
	position: absolute;
	bottom: 1rem;
	right: 4rem;
	padding: 0;
	display: none;
}
.error-message {
	color: var(--Soft-Red);
	font-size: 0.8rem;
	position: absolute;
	left: 12rem;
	display: none;
}
.valid-message {
	color: rgb(42, 204, 42);
	font-size: 0.8rem;
	position: absolute;
	left: 12rem;
	display: none;
}
@media (min-width: 1440px) {
	body {
		padding: 3rem;
	}
	.content {
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
		align-items: center;
		width: 100%;
		max-width: 100%;
		height: 100vh;
	}
	.Hero {
		background-image: url(./images/hero-desktop.jpg);
		background-repeat: no-repeat;
		background-size: auto;
		width: 100%;
		height: 100%;
	}
	.main-content {
		text-align: justify;
		height: 100%;
		padding: 10em 13em 0 8em;
		position: relative;
	}
	.logo {
		width: 180px;
		position: absolute;
		top: 1rem;
		left: 8rem;
		z-index: 999;
	}
	.main-heading {
		font-size: 3rem;
	}
	span {
		font-size: 3rem;
	}
	form {
		margin: 0;
	}
	.para {
		margin: 3em auto;
		font-size: 1.1rem;
	}
	button .submit {
		padding: 0.9em 2.5em;
	}
button .submit:active{
    cursor: pointer;
	padding: 1em 2.8em;
	box-shadow: 0 0 5px 3px rgb(139, 132, 132);
transition: 0.01s;
} 
	.error {
		right: 6em;
	}
}
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
